

/* applying fonts, margin and padding */
body, h1 {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
}

body {
    background-color: #000000;
    color: #ffffff; 
    font-size: 16px;
    line-height: 1.6;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: auto;
    position: relative;
}

header {
    text-align: center;
    margin-bottom: 50px;
}

h1 {
    font-size: 3.5em;
    margin-bottom: 20px;
    font-weight: 700;
    color: #ffffff; 
    letter-spacing: 3px;
}

/* container for social links and toggle button */
.social-links-container {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
}

.social-links {
    display: flex; /* show by default */
    flex-direction: column; /* arrange links vertically */
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
    position: absolute; 
    right: 0; 
    transform: translateY(-50%); /* vertical centering */
    transition: opacity 0.3s ease, right 0.5s ease; 
}

.toggle-btn {
    background: transparent;
    border: none;
    color: #ffffff;
    font-size: 2em;
    cursor: pointer;
    position: absolute;
    transform: translateY(-50%); /* vertical centering */
    right: 50px; /* left of the social links */
    z-index: 1001; 
    transition: right 0.5s ease; 
}

.social-links.open {
    right: 0; /* sliding out of screen from the right */
}

/* when hiding social links */
.social-links.hidden {
    right: -200px; /* sliding out of screen to the right */

}

.toggle-btn.left {
    right: 0px; /* moving to the left when closed */
}





.social-links a {
    color: #ffffff; 
    font-size: 2em;
    transition: color 0.3s, transform 0.3s;
    background: linear-gradient(135deg, #1abc9c, #ff007f, #f5a623);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.social-links a:hover {
    color: #ffffff; 
    -webkit-text-fill-color: #ffffff;
}








.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    width: 100%; /* width of the container */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.project-image-container:hover .overlay {
    opacity: 1;
}

.overlay-text {
    color: #ffffff; 
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; /* title stays at the bottom */
    width: 300px; /* same width as container */
    height: auto;
}

.project h2 {
    text-align: center; /* centering  title text */
}

.project-image-container {
    position: relative;
    overflow: hidden;
    border-radius: 15px; /* rounded corners */
    width: 300px;
    height: 200px;

    z-index: 2;
    padding: 5px; /* space between image and border */
}

.project-image-container::before {
    content: "";
    position: absolute;
    /* border thickness */ 
    top: -10px; 
    left: -10px; 
    right: -10px; 
    bottom: -10px; 
    border-radius: 15px;
    background: linear-gradient(135deg, #1abc9c, #ff007f, #f5a623);
    z-index: -1; 
}

.project img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 15px;
    transition: transform 0.3s ease;
    max-width: 300px; /* maximum size */
}







/* horizontal line stays at the bottom of the viewport and stretches across the full width */
.horizontal-line {
    position: fixed; 
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(135deg, #1abc9c, #ff007f, #f5a623);
    z-index: 9999999999999;
}

/* vertical-line to end at the horizontal line */
.vertical-line {
    position: absolute;
    width: 1px;
    height: 10vh; 
    background: linear-gradient(0deg, #1abc9c, #ff007f, #f5a623);
    opacity: 1;
    animation: moveLines 4s cubic-bezier(0.7, 0, 0.3, 1) infinite;
    animation-delay: var(--delay);
    z-index: -1;
    will-change: transform;
}

@keyframes moveLines {
    0% {
        transform: translateY(-200vh); /* starting above the viewport */
    }
    100% {
        transform: translateY(calc(100vh - 10px)); /* ending above the horizontal line */
    }
}



