/* custom fonts */
@font-face {
    font-family: 'CustomFont';
    src: url('fonts/AleoLight.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* applying fonts, margin and padding */
body, h1 {
    margin: 0;
    padding: 0;
    font-family: 'CustomFont', sans-serif; 
}

body {
    background-color: #000000;
    color: #ffffff; 
    font-size: 16px;
    line-height: 1.6;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
}

header {
    text-align: center;
    margin-bottom: 50px;
}

h1 {
    font-size: 3.5em;
    margin-bottom: 20px;
    font-weight: 700;
    color: #ffffff; 
    letter-spacing: 3px;
}

.social-links a {
    color: #ffffff; 
    font-size: 2em;
    margin: 0 15px;
    transition: color 0.3s, transform 0.3s;
    background: linear-gradient(135deg, #1abc9c, #ff007f, #f5a623);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.social-links a:hover {
    color: #ffffff; 
    -webkit-text-fill-color: #ffffff; /* text color white when hovered */
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.project-image-container:hover .overlay {
    opacity: 1;
}

.overlay-text {
    color: #ffffff; 
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}

.project h2 {
    margin-top: 15px;
    font-size: 1.8em;
    color: #ffffff;
}

.project-image-container {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    width: 300px; 
    height: 200px;
    transition: transform 0.3s ease;
    z-index: 2;
}

.project img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 15px;
    transition: transform 0.3s ease;
}



.glowing-line {
    position: absolute;
    /* size of line */ 
    width: 1px; 
    height: 10vh;

    background: linear-gradient(0deg, #1abc9c, #ff007f, #f5a623);
    opacity: 1;
    animation: moveLines 4s cubic-bezier(0.7, 0, 0.3, 1) infinite; /* acceleration into slow-down */
    animation-delay: var(--delay); /* animation delay */
    z-index: -1; 
    will-change: transform;
}

@keyframes moveLines {
    0% {
        transform: translateY(-150vh); /* starting part of the viewport */
    }
    100% {
        transform: translateY(50vh); /* ending part of the viewport */
    }
}




.horizontal-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(135deg, #1abc9c, #ff007f, #f5a623);
    z-index: 1;
}





